@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
 font-family: 'Poppins', sans-serif;
}

body {
 margin: "1rem"
}

.loading_container {
 text-align: center;
}
.imgload {
 margin: "1rem";
 display: flex;
 justify-content: center;
}
.loading {
 margin-top: 100px;
 max-width: 100%;
 height: auto;
}

.title_loading {
 font-size: medium;
 font-weight: 500;
}
.desc_loading {
 margin: 3px 60px 0 60px;
 color: #B6B6B6;
 font-size: 15px;
 font-weight: 300;
}

.loading_button_container {
 margin-top: 80px;
 display: flex;
 justify-content: center;
}
.loadingbutton {
 border: none;
 border-radius: 30px;
 height: 65px;
 width: 220px;
 color: white;
 text-decoration: none;
 background: rgb(89,150,100);
 background: linear-gradient(90deg, rgba(89,150,100,1) 0%, rgba(25,104,85,1) 100%);
}